In [1]:
# 판다스 임포트 #pandas
import pandas as pd
from pandas import Series, DataFrame
import re

In [26]:
#하위폴더 파일 부르기
inputFile = 'pandas_insaEditUtf.csv'

In [27]:
df = pd.read_csv(inputFile )
df

,;[1],Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,2018.3.1자 초등교사 청간전보 수정사항,NaN,NaN,NaN,NaN,NaN,NaN
1,작성일 : 2017년 12월 16일 토요일,NaN,NaN,NaN,( 성남 )교육지원청,NaN,NaN
2,순,학교명,성 명,수 정 사 항,NaN,전보유형,장학사님 확인 및 의견
3,<공통> 일반 내신자 전체 근무성적 미입력 → 입력하여 재 제출,NaN,NaN,NaN,NaN,NaN,NaN
4,1,늘푸른초,박상숙,&#61559; 노부모 부양 우대조건일 경우 주민등록등본 상의 주소지로 1지망 기입...,NaN,특만기,NaN
5,2,청솔초,김구원,&#61559;장관표창 사본 누락 &#61559;업무가산점 9.583 → 5.0으로...,NaN,특만기,NaN
6,3,단대초,조현숙,&#61559;가산점 13.5 → 16.5 수정. 도교육청에서 수정함.(★내신카드 ...,NaN,특만기,NaN
7,4,돌마초,정연미,&#61559;국가유공자 우대의 경우 인사기록카드 전체 출력,NaN,특만기,NaN
8,5,운중초,김윤미,&#61559;가산점 16 → 17 수정. 도교육청에서 수정함.(★내신카드 출력 후...,NaN,특만기,NaN
9,6,구미초,김진아,&#61559;기타 가산에 해당하는 증빙자료 없음.,NaN,일반,NaN
10,7,낙생초,함희연,&#61559;통합경력증명서 장학사 도장 누락,NaN,일반,NaN
11,8,판교초,원보희,&#61559;통합경력증명서 혁신학교 근무기간 확인필요 - 근무기간 17.3.01~...,NaN,일반,NaN
12,9,한솔초,김희정,"&#61559;업무가산점 0.03→0.04, 총전보년수 3.03→3.04로 수정 도...",NaN,일반,NaN
13,10,보평초,장혜미,"&#61559;업무가산 6.10→4.10, 총전보년수 11.04→9.04 수정. 도...",NaN,일반,NaN
14,;,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,;[1],NaN,NaN,NaN,NaN,NaN,NaN
17,2018.3.1자 초등교사 청간전보 수정사항,NaN,NaN,NaN,NaN,NaN,NaN
18,작성일 : 2017년 12월 16일 토요일,NaN,NaN,NaN,( 성남 )교육지원청,NaN,NaN
19,순,학교명,성 명,수 정 사 항,NaN,전보유형,장학사님 확인 및 의견
20,<공통> 일반 내신자 전체 근무성적 미입력 → 입력하여 재 제출,NaN,NaN,NaN,NaN,NaN,NaN
21,1,늘푸른초,박상숙,&#61559; 노부모 부양 우대조건일 경우 주민등록등본 상의 주소지로 1지망 기입...,NaN,특만기,NaN
22,2,청솔초,김구원,&#61559;장관표창 사본 누락 &#61559;업무가산점 9.583 → 5.0으로...,NaN,특만기,NaN
23,3,단대초,조현숙,&#61559;가산점 13.5 → 16.5 수정. 도교육청에서 수정함.(★내신카드 ...,NaN,특만기,NaN
24,4,돌마초,정연미,&#61559;국가유공자 우대의 경우 인사기록카드 전체 출력,NaN,특만기,NaN
25,5,운중초,김윤미,&#61559;가산점 16 → 17 수정. 도교육청에서 수정함.(★내신카드 출력 후...,NaN,특만기,NaN
26,6,구미초,김진아,&#61559;기타 가산에 해당하는 증빙자료 없음.,NaN,일반,NaN
27,7,낙생초,함희연,&#61559;통합경력증명서 장학사 도장 누락,NaN,일반,NaN
28,8,판교초,원보희,&#61559;통합경력증명서 혁신학교 근무기간 확인필요 - 근무기간 17.3.01~...,NaN,일반,NaN
29,9,한솔초,김희정,"&#61559;업무가산점 0.03→0.04, 총전보년수 3.03→3.04로 수정 도...",NaN,일반,NaN
...,...,...,...,...,...,...,...
1464,8,NaN,NaN,NaN,NaN,NaN,NaN
1465,9,NaN,NaN,NaN,NaN,NaN,NaN
1466,10,NaN,NaN,NaN,NaN,NaN,NaN
1467,11,NaN,NaN,NaN,NaN,NaN,NaN
1468,12,NaN,NaN,NaN,NaN,NaN,NaN
1469,13,NaN,NaN,NaN,NaN,NaN,NaN
1470,14,NaN,NaN,NaN,NaN,NaN,NaN
1471,15,NaN,NaN,NaN,NaN,NaN,NaN
1472,;,NaN,NaN,NaN,NaN,NaN,NaN
1473,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1474,;[1],NaN,NaN,NaN,NaN,NaN,NaN
1475,2018.3.1자 초등교사 청간전보 수정사항[4차],NaN,NaN,NaN,NaN,NaN,NaN
1476,작성일 : 2018년 1월 8일 월요일,NaN,NaN,NaN,( 김포 )교육지원청,NaN,NaN
1477,순,학교명,성 명,수 정 사 항,NaN,전보유형,장학사님 확인 및 의견
1478,1,푸른솔초,김유근,"&#61559;기타가산 0.02 → 0.00, 지역가산 2.10 → 1.06, 총전...",NaN,일반,NaN
1479,2,NaN,NaN,NaN,NaN,NaN,NaN
1480,3,NaN,NaN,NaN,NaN,NaN,NaN
1481,4,NaN,NaN,NaN,NaN,NaN,NaN
1482,5,NaN,NaN,NaN,NaN,NaN,NaN
1483,6,NaN,NaN,NaN,NaN,NaN,NaN
1484,7,NaN,NaN,NaN,NaN,NaN,NaN
1485,8,NaN,NaN,NaN,NaN,NaN,NaN
1486,9,NaN,NaN,NaN,NaN,NaN,NaN
1487,10,NaN,NaN,NaN,NaN,NaN,NaN
1488,11,NaN,NaN,NaN,NaN,NaN,NaN
1489,12,NaN,NaN,NaN,NaN,NaN,NaN
1490,13,NaN,NaN,NaN,NaN,NaN,NaN
1491,14,NaN,NaN,NaN,NaN,NaN,NaN
1492,15,NaN,NaN,NaN,NaN,NaN,NaN
1493,;,NaN,NaN,NaN,NaN,NaN,NaN

## csv파일 정리하기

In [28]:
#기수, 직위, 성명, 성별, 전화번호, 비고 가져오기
df.columns = ['1', '학교명','이름','수정사항','2','전보유형','3']

# 불필요한 열 삭제하기
df = df.drop(['1', '2','3'], axis = 1)

In [29]:
df.head()

    학교명    이름                                               수정사항  전보유형
0   NaN   NaN                                                NaN   NaN
1   NaN   NaN                                                NaN   NaN
2   학교명  성  명                                수     정     사     항  전보유형
3   NaN   NaN                                                NaN   NaN
4  늘푸른초   박상숙  &#61559; 노부모 부양 우대조건일 경우 주민등록등본 상의 주소지로 1지망 기입...   특만기

In [39]:
# 연락처 빈칸인 행 삭제 #pandas #느낀점
dfSel = df.dropna(thresh=2) #이름해이 빈칸이면 삭제
dfSel.head()

    학교명    이름                                               수정사항  전보유형
2   학교명  성  명                                수     정     사     항  전보유형
4  늘푸른초   박상숙  &#61559; 노부모 부양 우대조건일 경우 주민등록등본 상의 주소지로 1지망 기입...   특만기
5   청솔초   김구원  &#61559;장관표창 사본 누락 &#61559;업무가산점 9.583 → 5.0으로...   특만기
6   단대초   조현숙  &#61559;가산점 13.5 → 16.5 수정. 도교육청에서 수정함.(★내신카드 ...   특만기
7   돌마초   정연미                  &#61559;국가유공자 우대의 경우 인사기록카드 전체 출력   특만기

#### '학교명' 값이 없는 행들만 저장하기

In [40]:
dfSel = dfSel[dfSel['학교명'] != '학교명']
dfSel

          학교명   이름                                               수정사항 전보유형
4        늘푸른초  박상숙  &#61559; 노부모 부양 우대조건일 경우 주민등록등본 상의 주소지로 1지망 기입...  특만기
5         청솔초  김구원  &#61559;장관표창 사본 누락 &#61559;업무가산점 9.583 → 5.0으로...  특만기
6         단대초  조현숙  &#61559;가산점 13.5 → 16.5 수정. 도교육청에서 수정함.(★내신카드 ...  특만기
7         돌마초  정연미                  &#61559;국가유공자 우대의 경우 인사기록카드 전체 출력  특만기
8         운중초  김윤미  &#61559;가산점 16 → 17 수정. 도교육청에서 수정함.(★내신카드 출력 후...  특만기
9         구미초  김진아                       &#61559;기타 가산에 해당하는 증빙자료 없음.   일반
10        낙생초  함희연                          &#61559;통합경력증명서 장학사 도장 누락   일반
11        판교초  원보희  &#61559;통합경력증명서 혁신학교 근무기간 확인필요 - 근무기간 17.3.01~...   일반
12        한솔초  김희정  &#61559;업무가산점 0.03→0.04, 총전보년수 3.03→3.04로 수정 도...   일반
13        보평초  장혜미  &#61559;업무가산 6.10→4.10, 총전보년수 11.04→9.04 수정. 도...   일반
21       늘푸른초  박상숙  &#61559; 노부모 부양 우대조건일 경우 주민등록등본 상의 주소지로 1지망 기입...  특만기
22        청솔초  김구원  &#61559;장관표창 사본 누락 &#61559;업무가산점 9.583 → 5.0으로...  특만기
23        단대초  조현숙  &#61559;가산점 13.5 → 16.5 수정. 도교육청에서 수정함.(★내신카드 ...  특만기
24        돌마초  정연미                  &#61559;국가유공자 우대의 경우 인사기록카드 전체 출력  특만기
25        운중초  김윤미  &#61559;가산점 16 → 17 수정. 도교육청에서 수정함.(★내신카드 출력 후...  특만기
26        구미초  김진아                       &#61559;기타 가산에 해당하는 증빙자료 없음.   일반
27        낙생초  함희연                          &#61559;통합경력증명서 장학사 도장 누락   일반
28        판교초  원보희  &#61559;통합경력증명서 혁신학교 근무기간 확인필요 - 근무기간 17.3.01~...   일반
29        한솔초  김희정  &#61559;업무가산점 0.03→0.04, 총전보년수 3.03→3.04로 수정 도...   일반
30        보평초  장혜미  &#61559;업무가산 6.10→4.10, 총전보년수 11.04→9.04 수정. 도...   일반
37       버들개초  정경미  &#61559;현거주지가 의정부인 상태에서 장애가족부양 우대 조항 사용할 수 없음....  특만기
38        가능초  염승돈  &#61559;가산점 13.0 → 14.0 도교육청에서 수정함.(★내신카드 출력 후...  특만기
39       버들개초  김은경  &#61559;가산점 3.5 → 4.0. 도교육청에서 수정함.(★내신카드 출력 후 ...  특만기
40        동오초  서미리              &#61559;복직원 누락. - 복직동시내신은 복직원 제출해야 함.  특만기
41    의정부 중앙초  유찬관  &#61559;업무가산 4.09→4.03. 도교육청에서 수정함.(★내신카드 출력 후...   일반
42        송양초  이은주  &#61559;업무가산 3.05→3.08. 도교육청에서 수정함.(★내신카드 출력 후...   일반
43        송양초  태민영  &#61559;업무가산 0.00→1.02. 도교육청에서 수정함.(★내신카드 출력 후...   일반
44        녹양초  고아라  &#61559;학교 추천 서류 제출, 2017 표창사본 제출 - 학교추천을 통해 받...   일반
45    의정부 효자초  오은나  &#61559;업무가산 1.00→0.09. 도교육청에서 수정함.(★내신카드 출력 후...   일반
46        녹양초  김영진  &#61559;업무가산 1.04→1.07. 도교육청에서 수정함.(★내신카드 출력 후...   일반
...       ...  ...                                                ...  ...
1226  의정부 송산초  김경은                                     &#61559;복직원 제출   일반
1227      세말초  전혜주                                     &#61559;복귀원 제출   일반
1228  의정부 중앙초  김현미                                     &#61559;복직원 제출   일반
1247   양주 덕산초  윤선영                                  &#61559;2017 표창제출   일반
1248      보산초  김광희                                  &#61559;2017 표창제출   일반
1268      백신초  최영준                    &#61559;2017 표창제출(100대 교육과정 우수)   일반
1289      예당초  최은주                           &#61559;2017표창제출(초등교육과정)   일반
1290      발안초  전인숙                         &#61559;부부가산 학교장 확인서 제출 필요   일반
1291      운암초  김소희                                  &#61559;근무성적 미 입력   일반
1292      양산초  홍수영                                &#61559;2017 표창사본제출   일반
1293      율목초  최문영                                  &#61559;근무성적 미 입력   일반
1310      탄현초  이정표                          &#61559;2017 표창제출(교원자격연수)   일반
1311      운정초  채수오                           &#61559;2017 표창제출(사이버학습)   일반
1312      금릉초  김태영                                     &#61559;복직원 제출   일반
1331      도척초  김주운                            &#61559;2017 표창제출(학교체육)   일반
1332   광주 광명초  이주용  &#61559;업무가산 3.10→3.09, 총가산 9.10→9.09 도교육청에서 수...   일반
1352      전곡초  김신원                                  &#61559;2017 표창제출   일반
1353      백학초  조성엽                                  &#61559;2017 표창제출   일반
1354      백학초  김종숙                                  &#61559;2017 표창제출   일반
1355      전곡초  신윤정                                  &#61559;2017 표창제출   일반
1373      화현초  최민종                            &#61559;2017 표창제출(학력향상)   일반
1374      영북초  성수현                            &#61559;2017 표창제출(문화예술)   일반
1375      관인초  장현지  &#61559;통합경력증명서 재 제출 - 통합경력증명서 상에 2017년에 교과전담과...   일반
1394      신월초  김봉수                                  &#61559;2017 표창제출   일반
1395      산갈초  황영주                                  &#61559;2017 표창제출   일반
1415      원천초  홍지미                      &#61559;복귀원 제출 - 파견(~18.2.28)   일반
1416      파장초  정예원                    &#61559;복직원 제출 - 육아휴직(~18.2.28)   일반
1436      동보초  정기화                   &#61559;주민등록등본 제출  -부부가산 증빙서류 확인   일반
1457    광주광명초  강경옥  &#61559;근무성적 누락  -수정되어 제출된 서류가 학교 제출본임. 근평 입력하...   일반
1478     푸른솔초  김유근  &#61559;기타가산 0.02 → 0.00, 지역가산 2.10 → 1.06, 총전...   일반

[212 rows x 4 columns]

#### 정렬하기

In [56]:
dfSel = dfSel.sort_values(by = ['전보유형','학교명','이름'])
dfSel.head()

      학교명   이름                                               수정사항 전보유형
603   광문초  이성은  &#61559;업무 1.04→0.10 도교육청에서 수정함.(★내신카드 출력 후 재 ...  갑만기
205   감정초  전미선            &#61559;방과후 학교장 확인서 재 제출 - 업무기간 확인 및 수정   일반
122   경안초  김종남                   &#61559;학교장 확인서 재 제출 - 학교장 사인 누락   일반
100  고리울초  박재철  &#61559;셋째(2017.12.12.) 등본 제출할 경우 기타가산 점수 0 → ...   일반
101  고리울초  황미경  &#61559;업무가산 0.08 → 0.05 수정(통합학급 점수 삭제) 도교육청에서...   일반

#### 인덱싱 다시 하기

In [57]:
dfSel.reset_index(drop=True, inplace=True)
dfSel.head()

    학교명   이름                                               수정사항 전보유형
0   광문초  이성은  &#61559;업무 1.04→0.10 도교육청에서 수정함.(★내신카드 출력 후 재 ...  갑만기
1   감정초  전미선            &#61559;방과후 학교장 확인서 재 제출 - 업무기간 확인 및 수정   일반
2   경안초  김종남                   &#61559;학교장 확인서 재 제출 - 학교장 사인 누락   일반
3  고리울초  박재철  &#61559;셋째(2017.12.12.) 등본 제출할 경우 기타가산 점수 0 → ...   일반
4  고리울초  황미경  &#61559;업무가산 0.08 → 0.05 수정(통합학급 점수 삭제) 도교육청에서...   일반

#### 중복값 삭제

In [61]:
dfSel = dfSel.drop_duplicates('수정사항')

#### 파일저장

In [62]:
dfSel.to_excel('pandas_insaEditFinal_181018.xlsx')

In [63]:
dfSel.to_csv('pandas_insaEditFinal_181018.csv')

## 통계

In [65]:
groupbyType = dfSel.groupby('전보유형')

In [66]:
groupbyType.groups

{'갑만기': Int64Index([0], dtype='int64'),
 '일반': Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
             ...
             152, 153, 154, 155, 156, 157, 158, 161, 163, 164],
            dtype='int64', length=124),
 '특간': Int64Index([165], dtype='int64'),
 '특만기': Int64Index([167, 169, 171, 172, 174, 175, 176, 178, 180, 182, 184, 185, 188,
             189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 200, 201, 204,
             205, 207, 208, 209],
            dtype='int64')}

In [68]:
for name, group in groupbyType:
    print(name + ':' + str(len(group)))
    print(group)
    print()

갑만기:1
   학교명   이름                                               수정사항 전보유형
0  광문초  이성은  &#61559;업무 1.04→0.10 도교육청에서 수정함.(★내신카드 출력 후 재 ...  갑만기

일반:124
         학교명   이름                                               수정사항 전보유형
1        감정초  전미선            &#61559;방과후 학교장 확인서 재 제출 - 업무기간 확인 및 수정   일반
2        경안초  김종남                   &#61559;학교장 확인서 재 제출 - 학교장 사인 누락   일반
3       고리울초  박재철  &#61559;셋째(2017.12.12.) 등본 제출할 경우 기타가산 점수 0 → ...   일반
4       고리울초  황미경  &#61559;업무가산 0.08 → 0.05 수정(통합학급 점수 삭제) 도교육청에서...   일반
5        곡선초   김권                                &#61559;표창 사본 제출 필요   일반
6        공도초  김영숙  &#61559;근무년수 3.00→3.02, 지역가산 1.06→1.07. 도교육청에서...   일반
7        공도초  이은경                              &#61559;2017학년도 표창 제출   일반
8        관모초  반윤희              &#61559;복직동시내신 복직원 서류 누락됨. 복직원 제출 바람.   일반
9        관인초  장현지  &#61559;통합경력증명서 재 제출 - 통합경력증명서 상에 2017년에 교과전담과...   일반
10      광명남초  김미란                             &#61559;방과후 학교장 확인서 없음   일반
11      광명남초  김미란                           &#61559;전보내신카드 장학사 날인 누락   일반
13      광명북초  임은해                        &#61559;2017 표창제출(교원정책과 유공)   일반
15    광주 광명초  강경옥  &#61559;업무 0.09→0.05 도교육청에서 수정함.(★내신카드 출력 후 재 ...   일반
16    광주 광명초  강경옥  &#61559;업무가산 0.09→0.05 도교육청에서 수정함.(★내신카드 출력 후 ...   일반
17    광주 광명초  이주용  &#61559;업무가산 3.10→3.09, 총가산 9.10→9.09 도교육청에서 수...   일반
18     광주광명초  강경옥  &#61559;근무성적 누락  -수정되어 제출된 서류가 학교 제출본임. 근평 입력하...   일반
19       구리초  신영훈  &#61559;부부가산점 사용을 위한 부부임을 증명할 수 있는 서류 제출 - 제출한...   일반
20       구리초  이현아                        &#61559;서울주소지 노부모 우대 해당 없음.   일반
21       구리초  이현아        &#61559;서울주소지 노부모 우대 해당 없음. 전보유형 변경후 재 제출요.   일반
22       구미초  김진아                       &#61559;기타 가산에 해당하는 증빙자료 없음.   일반
24       금릉초  김태영                                     &#61559;복직원 제출   일반
25       기안초  김영경  &#61559;업무 0.04→0.03 도교육청에서 수정함.(★내신카드 출력 후 재 ...   일반
26       낙생초  함희연                          &#61559;통합경력증명서 장학사 도장 누락   일반
28   남양주 도곡초  김가람  &#61559;업무가산 0.07→0.06 도교육청에서 수정함.(★내신카드 출력 후 ...   일반
29   남양주 월산초  유완석  &#61559;업무가산 0.09→0.06 도교육청에서 수정함.(★내신카드 출력 후 ...   일반
31       녹양초  고아라  &#61559;학교 추천 서류 제출, 2017 표창사본 제출 - 학교추천을 통해 받...   일반
33       녹양초  고아라      &#61559;2017 표창교체(영재) &#61559;여성부 장관 학교 추천 서류   일반
34       녹양초  김영진  &#61559;업무가산 1.04→1.07. 도교육청에서 수정함.(★내신카드 출력 후...   일반
36       능곡초  이상민  &#61559;업무가산 0.10→0.09 도교육청에서 수정함.(★내신카드 출력 후 ...   일반
37       당동초  김상희  &#61559;업무가산 0.07→0.04 도교육청에서 수정함.(★내신카드 출력 후 ...   일반
..       ...  ...                                                ...  ...
121     장호원초  이은영                        &#61559;표창서류 제출(교육감 3, 장관1)   일반
122      적서초  조영석  &#61559;업무 가산년수 1.09→1.06 도교육청에서 수정함.(★내신카드 출력...   일반
125      정배초  박희원  &#61559;지역가산점 3.05→3.08.도교육청에서 수정함.(★내신카드 출력 후...   일반
126      주원초  장도윤  &#61559;교과전담 0.03→0 도교육청에서 수정함.(★내신카드 출력 후 재 제...   일반
127      중리초  강소영  &#61559;지역가산 3.11→3.04 도교육청에서 수정함.(★내신카드 출력 후 ...   일반
131      중리초  정하균  &#61559;지역가산 2.11→2.08.도교육청에서 수정함.(★내신카드 출력 후 ...   일반
133      진말초  오지인  &#61559;업무가산 0.09→0.06. 도교육청에서 수정함.(★내신카드 출력 후...   일반
135      청옥초  장혜정                        &#61559;부부교사 가산점 학교장 확인서 누락   일반
136      청옥초  홍종현    &#61559;16.4.11 이전 주소확인을 위하여 본인, 노부모 초본 각 1부 제출   일반
137      초당초  박은희                       &#61559;학교장 확인서 장학사 원본대조필 누락   일반
138      추산초  김도윤  &#61559;업무가산 0.09→0.06 도교육청에서 수정함.(★내신카드 출력 후 ...   일반
139      추산초  유유희  &#61559;업무가산 1.00→0.09. 총전보년수 6.00→5.09. 도교육청에...   일반
141      탄현초  이정표                          &#61559;2017 표창제출(교원자격연수)   일반
142      태안초  이경옥  &#61559;복직원 제출 &#61559;부부가산점> 등본 제출 - 학교장 확인서만...   일반
144      토평초  오수미  &#61559;업무가산점 0.05→0.04 도교육청에서 수정함.(★내신카드 출력 후...   일반
145      통일초  배효주  &#61559;전보년수 3.00→3.06수정. 도교육청에서 수정함.(★내신카드 출력...   일반
147      파장초  정예원                    &#61559;복직원 제출 - 육아휴직(~18.2.28)   일반
148      판교초  원보희  &#61559;통합경력증명서 혁신학교 근무기간 확인필요 - 근무기간 17.3.01~...   일반
150   평택 지산초  강지은  &#61559;방과 후 학교 가산기간 경력증명서와 학교장 확인서가 서로 불일치함. ...   일반
151      포천초  박선화  &#61559;업무 0.10→0.09 도교육청에서 수정함.(★내신카드 출력 후 재 ...   일반
152     푸른솔초  김유근  &#61559;복귀원 제출 &#61559;전임교 경력 사용한 근거서류(인상위원회 회...   일반
153     푸른솔초  김유근  &#61559;기타가산 0.02 → 0.00, 지역가산 2.10 → 1.06, 총전...   일반
154      필봉초  방영경  &#61559;전임교 경력 삭제. &#61559;희망지 1희망만 작성 후 내신카드 ...   일반
155     하안북초  김명숙  &#61559;전보유형 일반→갑만기 도교육청에서 수정함.(★내신카드 출력 후 재 제...   일반
156      하안초  최애자  &#61559;전보유형 일반→갑만기 도교육청에서 수정함.(★내신카드 출력 후 재 제...   일반
157      한빛초  유민희  &#61559;업무가산 4.05→4.04 도교육청에서 수정함.(★내신카드 출력 후 ...   일반
158      한솔초  김희정  &#61559;업무가산점 0.03→0.04, 총전보년수 3.03→3.04로 수정 도...   일반
161      합정초  김지은  &#61559;업무가산 1.00→0.09 도교육청에서 수정함.(★내신카드 출력 후 ...   일반
163      화현초  조백형  &#61559;근무년수 6.00→5.00, 기타가산 0.04→0.03 도교육청에서 ...   일반
164      화현초  최민종                            &#61559;2017 표창제출(학력향상)   일반

[124 rows x 4 columns]

특간:1
     학교명   이름                                               수정사항 전보유형
165  새말초  홍기현  &#61559;업무가산 0.01→0.03 도교육청에서 수정함.(★내신카드 출력 후 ...   특간

특만기:30
        학교명   이름                                               수정사항 전보유형
167     가능초  염승돈  &#61559;가산점 13.0 → 14.0 도교육청에서 수정함.(★내신카드 출력 후...  특만기
169    늘푸른초  박상숙  &#61559; 노부모 부양 우대조건일 경우 주민등록등본 상의 주소지로 1지망 기입...  특만기
171     다솔초  김연희  &#61559;가산점 9.5→8.5 도교육청에서 수정함.(★내신카드 출력 후 재 제...  특만기
172     단대초  조현숙  &#61559;가산점 13.5 → 16.5 수정. 도교육청에서 수정함.(★내신카드 ...  특만기
174     달안초  임명숙  &#61559;총가산 9→9.5 도교육청에서 수정함.(★내신카드 출력 후 재 제출요...  특만기
175     당수초  조경숙  &#61559;가산점 6.5→3.5 도교육청에서 수정함.(★내신카드 출력 후 재 제...  특만기
176     돌마초  정연미                  &#61559;국가유공자 우대의 경우 인사기록카드 전체 출력  특만기
178     동오초  서미리              &#61559;복직원 누락. - 복직동시내신은 복직원 제출해야 함.  특만기
180    버들개초  김은경  &#61559;가산점 3.5 → 4.0. 도교육청에서 수정함.(★내신카드 출력 후 ...  특만기
182    버들개초  정경미  &#61559;현거주지가 의정부인 상태에서 장애가족부양 우대 조항 사용할 수 없음....  특만기
184     부인초  차영광  &#61559;전보총점 7→6.5 도교육청에서 수정함.(★내신카드 출력 후 재 제출...  특만기
185  부천 대명초  최회련  &#61559;전보총점 3.5→3 도교육청에서 수정함.(★내신카드 출력 후 재 제출...  특만기
188     서현초  민라리                           &#61559;복직원 장학사 원본대조필 누락  특만기
189     서현초  조윤희  &#61559;전보유형 13조 2항으로 수정 제출 - 서울주소지는 장애부양 우대조항...  특만기
190     석수초  함주아       &#61559;교육감표찰(건강한 민주시민 육성) 제출요 - 교육장 표창 제출됨.  특만기
191  성남 송현초  김서정  &#61559;노부모 우대 관련 - 주소지 성남으로 임지 희망지 2희망이 인접시간이...  특만기
192  성남 수정초  지정근                &#61559;가산점 4.500→3.500 - 상장 인정 안됨.  특만기
193  성남 중앙초  김지영                     &#61559;복직원 제출(타시도 교환 연장 신청 중)  특만기
194     신동초  이미진  &#61559;가산점 0.5→0 도교육청에서 수정함.(★내신카드 출력 후 재 제출요...  특만기
195     심곡초  이윤미  &#61559;가산점 14.5 → 10.416으로 수정 도교육청에서 수정함.(★내신...  특만기
196     심원초   은경  &#61559;전보총점 8→5 도교육청에서 수정함.(★내신카드 출력 후 재 제출요....  특만기
197  안양 부안초  송유정                                  &#61559;근무성적 누락됨.  특만기
198     운중초  김윤미  &#61559;가산점 16 → 17 수정. 도교육청에서 수정함.(★내신카드 출력 후...  특만기
200    의정부초  이은경  &#61559;업무가산 6→7 도교육청에서 수정함.(★내신카드 출력 후 재 제출요....  특만기
201     정자초  김민주  &#61559;가산점 6→3 도교육청에서 수정함.(★내신카드 출력 후 재 제출요.)...  특만기
204     청명초  전진희                      &#61559;교육감 표창 누락. 표창 사본제출 요망  특만기
205     청솔초  김구원  &#61559;장관표창 사본 누락 &#61559;업무가산점 9.583 → 5.0으로...  특만기
207     청솔초  김구원  &#61559;1차에 수정 사항 나갔으나 검토 오류로 다시 수정 필요 ★재검토 내용...  특만기
208     태장초  김성희  &#61559;가산점 7.5→4.5 도교육청에서 수정함.(★내신카드 출력 후 재 제...  특만기
209     태장초  김원금  &#61559;가산점 10→7 도교육청에서 수정함.(★내신카드 출력 후 재 제출요....  특만기

## 참고

### 특정값 추출하기 #느낀점

In [36]:
dfSel[dfSel['학교명']=='학교명']

      학교명    이름                 수정사항  전보유형
2     학교명  성  명  수     정     사     항  전보유형
19    학교명  성  명  수     정     사     항  전보유형
36    학교명  성  명  수     정     사     항  전보유형
57    학교명  성  명  수     정     사     항  전보유형
78    학교명  성  명  수     정     사     항  전보유형
99    학교명  성  명  수     정     사     항  전보유형
120   학교명  성  명  수     정     사     항  전보유형
141   학교명  성  명  수     정     사     항  전보유형
162   학교명  성  명  수     정     사     항  전보유형
183   학교명  성  명  수     정     사     항  전보유형
204   학교명  성  명  수     정     사     항  전보유형
225   학교명  성  명  수     정     사     항  전보유형
246   학교명  성  명  수     정     사     항  전보유형
267   학교명  성  명  수     정     사     항  전보유형
288   학교명  성  명  수     정     사     항  전보유형
309   학교명  성  명  수     정     사     항  전보유형
329   학교명  성  명  수     정     사     항  전보유형
350   학교명  성  명  수     정     사     항  전보유형
371   학교명  성  명  수     정     사     항  전보유형
392   학교명  성  명  수     정     사     항  전보유형
413   학교명  성  명  수     정     사     항  전보유형
434   학교명  성  명  수     정     사     항  전보유형
455   학교명  성  명  수     정     사     항  전보유형
476   학교명  성  명  수     정     사     항  전보유형
497   학교명  성  명  수     정     사     항  전보유형
518   학교명  성  명  수     정     사     항  전보유형
539   학교명  성  명  수     정     사     항  전보유형
560   학교명  성  명  수     정     사     항  전보유형
581   학교명  성  명  수     정     사     항  전보유형
602   학교명  성  명  수     정     사     항  전보유형
...   ...   ...                  ...   ...
875   학교명  성  명  수     정     사     항  전보유형
896   학교명  성  명  수     정     사     항  전보유형
917   학교명  성  명  수     정     사     항  전보유형
938   학교명  성  명  수     정     사     항  전보유형
959   학교명  성  명  수     정     사     항  전보유형
980   학교명  성  명  수     정     사     항  전보유형
1001  학교명  성  명  수     정     사     항  전보유형
1022  학교명  성  명  수     정     사     항  전보유형
1043  학교명  성  명  수     정     사     항  전보유형
1064  학교명  성  명  수     정     사     항  전보유형
1085  학교명  성  명  수     정     사     항  전보유형
1106  학교명  성  명  수     정     사     항  전보유형
1127  학교명  성  명  수     정     사     항  전보유형
1148  학교명  성  명  수     정     사     항  전보유형
1169  학교명  성  명  수     정     사     항  전보유형
1190  학교명  성  명  수     정     사     항  전보유형
1210  학교명  성  명  수     정     사     항  전보유형
1225  학교명  성  명  수     정     사     항  전보유형
1246  학교명  성  명  수     정     사     항  전보유형
1267  학교명  성  명  수     정     사     항  전보유형
1288  학교명  성  명  수     정     사     항  전보유형
1309  학교명  성  명  수     정     사     항  전보유형
1330  학교명  성  명  수     정     사     항  전보유형
1351  학교명  성  명  수     정     사     항  전보유형
1372  학교명  성  명  수     정     사     항  전보유형
1393  학교명  성  명  수     정     사     항  전보유형
1414  학교명  성  명  수     정     사     항  전보유형
1435  학교명  성  명  수     정     사     항  전보유형
1456  학교명  성  명  수     정     사     항  전보유형
1477  학교명  성  명  수     정     사     항  전보유형

[72 rows x 4 columns]

In [79]:
dfEdit = dfSel

In [94]:
# 조건을 검색하여 특정행 삭제하기 
# 조건에 맞는 행을 검색 → 인덱스를 따서 데이터 프레임에서 삭제
dfDel = dfEdit.loc[(dfEdit['num'].str.contains('연번'))]
dfEdit.drop(dfDel.index, inplace=True)

/Users/mac/.virtualenvs/studyPython from 2018/lib/python3.6/site-packages/pandas/core/frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [107]:
# num컬럼 행 삭제하기 #pandas
dfEdit.drop('num',axis=1, inplace=True)

## Groupby 기능 활용하기

In [137]:
# 직위로 묶어서 변수에 넣기
groupbyRank = dfEdit.groupby('rank')

In [138]:
# 그룹을 개괄적으로 확인하기
groupbyRank.groups

{'교감': Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13], dtype='int64'),
 '교사': Int64Index([ 14,  15,  16,  17,  18,  19,  20,  21,  22,  23,
             ...
             210, 211, 212, 213, 214, 215, 216, 217, 218, 219],
            dtype='int64', length=206),
 '교장': Int64Index([220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232,
             233],
            dtype='int64'),
 '수석교사': Int64Index([234], dtype='int64'),
 '장학사': Int64Index([235, 236, 237, 238], dtype='int64')}

In [140]:
# 반복문을 이용하여 그룹을 출력하기 #pandas #느낀점 
for name, group in groupbyRank:
    print(name + " : " + str(len(group)))
    print(group)
    print()

교감 : 14
   gradYear rank name phone            sex memo school
0       27회   교감  김선경     여  010-8889-0466  NaN
1       30회   교감  목진식     남  010-3358-4996  NaN
2        24   교감  민명애     여  010-6282-2351  NaN
3        18   교감  박노빈     남  010-5260-0549  NaN
4        20   교감  박문자     여  010-3324-6443  NaN
5       24회   교감  박성실     여  010-6365-9295  NaN
6       29기   교감  박진서     남  010-9132-3469  NaN
7        24   교감  송인식     남  010-3298-5624  NaN
8        23   교감  안상규     남  010-2032-9847  NaN
9        23   교감  원영효     남  010-5560-5692  NaN
10      20회   교감  윤현미     여  010-3273-2627  NaN
11      20회   교감  윤현미     여  010-3273-2627  NaN
12     1994   교감  장재성     남  010-6246-2342  NaN
13       30   교감  최은희     여  010-5357-8043  NaN

교사 : 206
     gradYear rank name phone            sex memo school
14         47   교사  강남우     남  010.4009.4907  NaN
15         35   교사  강무진     남  010-2750-7765  NaN
16       2015   교사  강빛나     여  010-9947-2749  NaN
17        비공개   교사  강성구     남            비공개  NaN
18         34   교사  강세훈     남  010-7637-8737  NaN
19         51   교사  강수민     여  010-8585-2704  NaN
20         50   교사  강혜미     여  010-9083-6329  NaN
21        30기   교사  강홍주     남  010-2478-7260  NaN
22       2001   교사  강효주     여  010-2401-0958  NaN
23         49   교사  고봄이     여  010-2460-5246  NaN
24   2006 41기   교사  고성은     남  010-7737-5794  NaN
25         44   교사  고영윤     남  010-8526-9330  NaN
26       2005   교사  고정욱     남  010-5086-4497  분회장
27       1997   교사  고혜숙     여  010-8256-3081  NaN
28       2009   교사  구지혜     여  010-9115-0904  NaN
29        50회   교사  권유경     여  010-9561-0420
30      93 학번   교사  권혁숙     여  010-9329-7260  NaN
31       2000   교사  권혜은     여  010-4576-2871  NaN
32       2010   교사  김두영     남  010-6650-0383  NaN
33       2004   교사  김미희     여  010-7122-4427  NaN
34         44   교사  김민국     남  010-4402-0502  NaN
35        45회   교사  김민정     여  010-5131-9319  NaN
36        39회   교사  김선중     남  010-8881-4156  분회장
37        46기   교사   김설     여  010-9847-0219  NaN
38         39   교사  김성곤     남  010-8940-9258  분회장
39         47   교사  김성재     남  010-9177-5238  분회장
40        비공개   교사  김성진     남            비공개  NaN
41         49   교사  김성해     여  010-5064-9193  NaN
42         31   교사  김세영     남  010-3733-9516  분회장
43         21   교사  김소현     여  010-2370-0463  NaN
..        ...  ...  ...   ...            ...  ...    ...
190        45   교사  정한길     남  010-8665-4810  분회장
191        42   교사  조보라     여            비공개  NaN
192     00년졸업   교사  조성숙     여  010-3215-6418  NaN
193      2008   교사  조양희     여  010-4154-2346  NaN
194        44   교사  조인석     남  010-9596-4741  NaN
195  2002년 졸업   교사  진선미     여  010-6290-5288  NaN
196  2002년 졸업   교사  진선미     여  010-6290-5288  NaN
197      2010   교사  진성언     남  010-9580-1830  NaN
198       21회   교사  진소현     여  010 2391 9185  NaN
199      2001   교사  채달석     남  010-3309-1659  분회장
200  2014년 졸업   교사  채정윤     여            NaN  분회장
201  2014년 졸업   교사  채정윤     여            NaN  분회장
202      2009   교사  최경아     여  010-2065-7814    .
203      2013   교사   최민     여  010-7566-9797  NaN
204      2013   교사  최보배     여  010-3542-6901  NaN
205      2011   교사  최소영     여  010-3074-5174  NaN
206       42회   교사  최유미     여  010-2784-5425
207       27기   교사  최은주     여  010-3380-3710  NaN
208       27기   교사  최은주     여  010-3380-3710  NaN
209       35회   교사  최정석     남  010-8948-5127  NaN
210      2010   교사  최준석     남  010-5652-5696  NaN
211      2014   교사  탁예원     여  010-3543-5225  분회장
212      2014   교사  한지혜     여              -  NaN
213        32   교사  한진영     여  010-4926-8353  NaN
214      2013   교사  허지연     여  010-3139-6459  NaN
215       비공개   교사  홍명희     여            비공개  NaN
216        36   교사  홍정주     여  010-8246-3693  NaN
217       39회   교사  홍지현     여  010-9921-8279
218       42기   교사  황정환     남  010-4347-8587  분회장
219        28   교사  황현연     남  010-7664-8910  NaN

[206 rows x 7 columns]

교장 : 14
    gradYear rank name phone            sex memo school
220       24   교장  김국남     남  010-6390-6466  NaN
221     1989   교장  김동목     남  010-6264-7081  NaN
222      18회   교장  김현숙     여  010-8787-5521  NaN
223       18   교장  백재선     여  010-9267-6967  NaN
224       18   교장  성영경     남  010-4318-8883  NaN
225       14   교장  이선교     남  010-5380-0985  NaN
226       22   교장  이재평     남  010-8592-0419  NaN
227     1978   교장  임영택     남  010-6301-6718  NaN
228       20   교장  임정일     남  010-3630-2432  NaN
229      17회   교장  조병훈     남  010-4310-0195  NaN
230       24   교장  조주은     여  010.9414.7081  부회장
231     1981   교장  천옥희     남  010-8281-6909  NaN
232      16회   교장  한명희     여  010-4207-9235  NaN
233       17   교장  황병희     남  010-9150-5653  NaN

수석교사 : 1
    gradYear  rank name phone            sex memo school
234      23기  수석교사  권영석     남  010-2008-3449  NaN

장학사 : 4
    gradYear rank  name phone            sex memo school
235       37  장학사   김현식     남  010-5497-7912  분회장
236       35  장학사   이대오     남  010-4496-3912  NaN
237       30  장학사   이원주     여  010-5765-8860  NaN
238       32  장학사  정  미     여  010-3143-9812  NaN

In [154]:
# 행에서 특정 조건에 맞는 문자열 검색하기 #느낀점 #pandas
dfTeacher = dfEdit.loc[(dfEdit['rank'].str.contains('교사'))]
dfTeacher.head()

   gradYear rank name phone            sex memo school
14       47   교사  강남우     남  010.4009.4907  NaN
15       35   교사  강무진     남  010-2750-7765  NaN
16     2015   교사  강빛나     여  010-9947-2749  NaN
17      비공개   교사  강성구     남            비공개  NaN
18       34   교사  강세훈     남  010-7637-8737  NaN

In [155]:
# 행에서 특정 조건에 맞는 문자열 검색하기 #느낀점 #pandas
dfSubPrinciple = dfEdit.loc[(dfEdit['rank'].str.contains('교감'))]
dfSubPrinciple.head()

  gradYear rank name phone            sex memo school
0      27회   교감  김선경     여  010-8889-0466  NaN
1      30회   교감  목진식     남  010-3358-4996  NaN
2       24   교감  민명애     여  010-6282-2351  NaN
3       18   교감  박노빈     남  010-5260-0549  NaN
4       20   교감  박문자     여  010-3324-6443  NaN

In [156]:
# 행에서 특정 조건에 맞는 문자열 검색하기 #느낀점 #pandas
dfPrinciple = dfEdit.loc[(dfEdit['rank'].str.contains('교장'))]
dfPrinciple.head()

    gradYear rank name phone            sex memo school
220       24   교장  김국남     남  010-6390-6466  NaN
221     1989   교장  김동목     남  010-6264-7081  NaN
222      18회   교장  김현숙     여  010-8787-5521  NaN
223       18   교장  백재선     여  010-9267-6967  NaN
224       18   교장  성영경     남  010-4318-8883  NaN

In [157]:
dfTeacher.to_csv('pandas_ineu_teacher_181014.csv')

In [158]:
dfSubPrinciple.to_csv('pandas_ineu_subPrinciple_181014.csv')

In [159]:
dfPrinciple.to_csv('pandas_ineu_principle_181014.csv')

In [160]:
dfEdit.to_csv('pandas_ineu_All_181014.csv')

## 파일 정리 반복문 만들기

In [59]:
#정규표현식 적용하기
inputFiles = allfiles('./ineu_csv_181003/')
p = re.compile(r'\((.*)\)')     #괄호 안의 내용 뽑아내기 검색식 괄호 2개이용하는 것과 괄호 앞에 역슬래시를 넣는 것이 포인트 #느낀점 #표현식
schoolName = []
for inputFile in inputFiles:
#     print(inputFile)
    i = p.findall(inputFile)
    schoolName.append(i)
    
schoolName

[[],
 ['경일초'],
 ['고잔초'],
 ['능길초'],
 ['대동초'],
 ['대부초'],
 ['덕인초'],
 ['반월초'],
 ['별망초'],
 ['본오초'],
 ['상록초'],
 ['석호초'],
 ['선부초'],
 ['선일초'],
 ['성안초'],
 ['성포초'],
 ['송호초'],
 ['시랑초'],
 ['신길초'],
 ['안산교육지원청'],
 ['안산부곡초'],
 ['안산서초'],
 ['안산석수초'],
 ['안산양지초'],
 ['안산원곡초'],
 ['안산중앙초'],
 ['안산진흥초'],
 ['안산창촌초'],
 ['안산청석초'],
 ['안산초'],
 ['안산해양초'],
 ['안산호원초'],
 ['원일초'],
 ['정재초'],
 ['초당초'],
 ['초지초'],
 ['팔곡초'],
 ['학현초'],
 ['호동초'],
 ['9.1일자']]

In [139]:
# 인덱스 값을 이용하여 내용 수정하기
listIndex = [213, 214, 215, 216, 217, 218, 219]
for i in listIndex:
    dfEdit.iloc[i]['rank'] = '교사'

In [70]:
#정규표현식 적용하기
import glob

p = re.compile(r'\((.*)\)')     #괄호 안의 내용 뽑아내기 검색식 괄호 2개이용하는 것과 괄호 앞에 역슬래시를 넣는 것이 포인트 #느낀점 #표현식
schoolName = []
for inputFile in glob.glob('ineu_csv_181003/2018*.csv', recursive=True):
    print(inputFile)
    i = p.findall(inputFile)
    print(i)
    schoolName.append(i)
    
schoolName

ineu_csv_181003/2018학년도 경인교대 동문회원 명부(경일초).csv
['경일초']
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(고잔초).csv
['고잔초']
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(능길초).csv
['능길초']
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(대동초).csv
['대동초']
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(대부초).csv
['대부초']
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(덕인초).csv
['덕인초']
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(반월초).csv
['반월초']
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(별망초).csv
['별망초']
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(본오초).csv
['본오초']
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(상록초).csv
['상록초']
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(석호초).csv
['석호초']
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(선부초).csv
['선부초']
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(선일초).csv
['선일초']
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(성안초).csv
['성안초']
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(성포초).csv
['성포초']
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(송호초).csv
['송호초']
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(시랑초).csv
['시랑초']
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(신길초).csv
['신길초']
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(안산교육지원청).csv
['안산교육지원청']
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(안산부곡초).csv
['안산부곡초']
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(안산서초).csv
['안산서초']
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(안산석수초).csv
['안산석수초']
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(안산양지초).csv
['안산양지초']
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(안산원곡초).csv
['안산원곡초']
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(안산중앙초).csv
['안산중앙초']
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(안산진흥초).csv
['안산진흥초']
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(안산창촌초).csv
['안산창촌초']
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(안산청석초).csv
['안산청석초']
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(안산초).csv
['안산초']
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(안산해양초).csv
['안산해양초']
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(안산호원초).csv
['안산호원초']
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(원일초).csv
['원일초']
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(정재초).csv
['정재초']
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(초당초).csv
['초당초']
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(초지초).csv
['초지초']
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(팔곡초).csv
['팔곡초']
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(학현초).csv
['학현초']
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(호동초).csv
['호동초']

[['경일초'],
 ['고잔초'],
 ['능길초'],
 ['대동초'],
 ['대부초'],
 ['덕인초'],
 ['반월초'],
 ['별망초'],
 ['본오초'],
 ['상록초'],
 ['석호초'],
 ['선부초'],
 ['선일초'],
 ['성안초'],
 ['성포초'],
 ['송호초'],
 ['시랑초'],
 ['신길초'],
 ['안산교육지원청'],
 ['안산부곡초'],
 ['안산서초'],
 ['안산석수초'],
 ['안산양지초'],
 ['안산원곡초'],
 ['안산중앙초'],
 ['안산진흥초'],
 ['안산창촌초'],
 ['안산청석초'],
 ['안산초'],
 ['안산해양초'],
 ['안산호원초'],
 ['원일초'],
 ['정재초'],
 ['초당초'],
 ['초지초'],
 ['팔곡초'],
 ['학현초'],
 ['호동초']]

In [70]:
#정규표현식 적용하기
import glob

p = re.compile(r'\((.*)\)')     #괄호 안의 내용 뽑아내기 검색식 괄호 2개이용하는 것과 괄호 앞에 역슬래시를 넣는 것이 포인트 #느낀점 #표현식
schoolName = []
for inputFile in glob.glob('ineu_csv_181003/2018*.csv', recursive=True):
     df 
    print(inputFile)
    i = p.findall(inputFile)
    print(i)
    schoolName.append(i)
    
schoolName

ineu_csv_181003/2018학년도 경인교대 동문회원 명부(경일초).csv
['경일초']
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(고잔초).csv
['고잔초']
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(능길초).csv
['능길초']
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(대동초).csv
['대동초']
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(대부초).csv
['대부초']
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(덕인초).csv
['덕인초']
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(반월초).csv
['반월초']
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(별망초).csv
['별망초']
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(본오초).csv
['본오초']
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(상록초).csv
['상록초']
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(석호초).csv
['석호초']
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(선부초).csv
['선부초']
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(선일초).csv
['선일초']
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(성안초).csv
['성안초']
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(성포초).csv
['성포초']
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(송호초).csv
['송호초']
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(시랑초).csv
['시랑초']
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(신길초).csv
['신길초']
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(안산교육지원청).csv
['안산교육지원청']
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(안산부곡초).csv
['안산부곡초']
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(안산서초).csv
['안산서초']
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(안산석수초).csv
['안산석수초']
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(안산양지초).csv
['안산양지초']
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(안산원곡초).csv
['안산원곡초']
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(안산중앙초).csv
['안산중앙초']
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(안산진흥초).csv
['안산진흥초']
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(안산창촌초).csv
['안산창촌초']
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(안산청석초).csv
['안산청석초']
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(안산초).csv
['안산초']
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(안산해양초).csv
['안산해양초']
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(안산호원초).csv
['안산호원초']
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(원일초).csv
['원일초']
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(정재초).csv
['정재초']
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(초당초).csv
['초당초']
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(초지초).csv
['초지초']
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(팔곡초).csv
['팔곡초']
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(학현초).csv
['학현초']
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(호동초).csv
['호동초']

[['경일초'],
 ['고잔초'],
 ['능길초'],
 ['대동초'],
 ['대부초'],
 ['덕인초'],
 ['반월초'],
 ['별망초'],
 ['본오초'],
 ['상록초'],
 ['석호초'],
 ['선부초'],
 ['선일초'],
 ['성안초'],
 ['성포초'],
 ['송호초'],
 ['시랑초'],
 ['신길초'],
 ['안산교육지원청'],
 ['안산부곡초'],
 ['안산서초'],
 ['안산석수초'],
 ['안산양지초'],
 ['안산원곡초'],
 ['안산중앙초'],
 ['안산진흥초'],
 ['안산창촌초'],
 ['안산청석초'],
 ['안산초'],
 ['안산해양초'],
 ['안산호원초'],
 ['원일초'],
 ['정재초'],
 ['초당초'],
 ['초지초'],
 ['팔곡초'],
 ['학현초'],
 ['호동초']]

In [ ]:
# 파일명에서 '**초' 찾아내기
p = re.compile('\w*초')
t = '/Volumes/SeconBay/Gdrive/★작업중/SW_PyCharm/studyPython from 2018/openpyXl/ineu_csv_181003/./ineu_csv_181003/2018학년도 경인교대 동문회원 명부(안산정지초).csv'
i = p.findall(t)
i

## 폴더 및 파일 읽어오기 참고 자료

In [49]:
#현재 폴더의 파일과 하위 폴더 파일명가져오기
import os
for root, dirs, files in os.walk('./'): #root, diirs, files형태의 튜플을 읽기
    for file in files:
        print(file)

#180802 xls_getCells.py
#180802 xls_getCells_projet.py
#180802 xls_getSheet.py
#180802 xls_open.py
#180805 xls_getRow.py
#180805 xls_priceUpdate_algo.py
#180805 xls_priceUpdate_algo_coding.py
#180806 census_algo.py
#180806 census_algo_coding.py
#180806 produceSale_algo.py
#180806 produceSale_algo_coding.py
#180808 #project csv_removeHeader_algo.py
#180808 #project csv_removeHeader_algo_coding.py
#180808 #project joson_quickWeather_algo.py
1.csv
2018_관내전보내신취합용(학교용)_20180907 - 한셀용.xls
2018_전보취합용(교육지원청용)_20180907.xls
2018학년도 경인교대 동문회원 명부(경일초).csv
census.py
census.xlsx
example.xlsx
excelMerge01.xlsx
excelMerge02.xlsx
insa01.xls
lawFather.csv
lawFather.gsheet
lawFatherSeokSms.csv
lawFatherSeokSms.xlsx
openpyXl_excelMergeFile_180915.py
openpyXl_excelMergeFile_allFileOpen_180915.py
openpyXl_excelMergeFile_allFileOpen__temp_180915.py
openpyXl_insaAntaewoo_180915.py
openpyXl_workout_180915.py
openpyXl_workout_180915_temp.py
pandas_contacts.csv
pandas_googleAddress.csv
pandas_googleAddress_181012.csv
pandas_googleAddress_181012.xlsx
pandas_googlePhoneAddress_181011.ipynb
pandas_googlePhoneAddress_Pycharm_181011.ipynb
pandas_googlePhoneAddress_Pycharm_181011.py
pandas_ineuCsvCollect_181013.ipynb
pandas_lawFather_seokAll (1).gsheet
pandas_lawFather_seokAll.csv
pandas_lawFather_seokAll.gsheet
pandas_lawFatherMoney_181008.ipynb
pandas_lawFatherMoneyPycharm_181008.ipynb
pandas_lawFatherMoneyPycharm_181008.py
pandas_lawFile_181008.csv
pandas_makeSmsAddressByMachingAll_181012.ipynb
pandas_makeSmsAddressByMachingAllApplyLambda_181013.ipynb
pandas_matchSms.csv
pandas_phoneAddress_191011.py
pandas_readClipboard_181013.ipynb
pandas_resultSmsMatch.csv
pandas_resultSmsMatch.gsheet
produceSales.py
produceSales.xlsx
pyXl_insaAntaewoo_180914.py
result_excelMergeAll_temp.xlsx
result_insaAntaewoo.xlsx
test.ipynb
test.xlsx
updateProductSales.xlsx
workOut.xlsx
능길초_나교사_관내전보_(18_09_14).xls
붙임1)2018_관내전보내신서(개인용)-20180903(최종).xlsm
안산양지초_가교사_관내전보_(18_09_18).xls
안산양지초_나교사.xls
안산양지초_나교사.xlsx
안산양지초_라교사_관내전보_(18_09_18).xls
안산양지초_마교사_관내전보_(18_09_18).xls
pandas_googlePhoneAddress_181011-checkpoint.ipynb
pandas_googlePhoneAddress_Pycharm_181011-checkpoint.ipynb
pandas_ineuCsvCollect_181013-checkpoint.ipynb
pandas_lawFatherMoney_181008-checkpoint.ipynb
pandas_lawFatherMoneyPycharm_181008-checkpoint.ipynb
pandas_makeSmsAddressByMachingAll_181012-checkpoint.ipynb
pandas_makeSmsAddressByMachingAllApplyLambda_181013-checkpoint.ipynb
pandas_readClipboard_181013-checkpoint.ipynb
test-checkpoint.ipynb
2018학년도 경인교대 동문회원 명부(경일초).csv
2018학년도 경인교대 동문회원 명부(고잔초).csv
2018학년도 경인교대 동문회원 명부(능길초).csv
2018학년도 경인교대 동문회원 명부(대동초).csv
2018학년도 경인교대 동문회원 명부(대부초).csv
2018학년도 경인교대 동문회원 명부(덕인초).csv
2018학년도 경인교대 동문회원 명부(반월초).csv
2018학년도 경인교대 동문회원 명부(별망초).csv
2018학년도 경인교대 동문회원 명부(본오초).csv
2018학년도 경인교대 동문회원 명부(상록초).csv
2018학년도 경인교대 동문회원 명부(석호초).csv
2018학년도 경인교대 동문회원 명부(선부초).csv
2018학년도 경인교대 동문회원 명부(선일초).csv
2018학년도 경인교대 동문회원 명부(성안초).csv
2018학년도 경인교대 동문회원 명부(성포초).csv
2018학년도 경인교대 동문회원 명부(송호초).csv
2018학년도 경인교대 동문회원 명부(시랑초).csv
2018학년도 경인교대 동문회원 명부(신길초).csv
2018학년도 경인교대 동문회원 명부(안산교육지원청).csv
2018학년도 경인교대 동문회원 명부(안산부곡초).csv
2018학년도 경인교대 동문회원 명부(안산서초).csv
2018학년도 경인교대 동문회원 명부(안산석수초).csv
2018학년도 경인교대 동문회원 명부(안산양지초).csv
2018학년도 경인교대 동문회원 명부(안산원곡초).csv
2018학년도 경인교대 동문회원 명부(안산중앙초).csv
2018학년도 경인교대 동문회원 명부(안산진흥초).csv
2018학년도 경인교대 동문회원 명부(안산창촌초).csv
2018학년도 경인교대 동문회원 명부(안산청석초).csv
2018학년도 경인교대 동문회원 명부(안산초).csv
2018학년도 경인교대 동문회원 명부(안산해양초).csv
2018학년도 경인교대 동문회원 명부(안산호원초).csv
2018학년도 경인교대 동문회원 명부(원일초).csv
2018학년도 경인교대 동문회원 명부(정재초).csv
2018학년도 경인교대 동문회원 명부(초당초).csv
2018학년도 경인교대 동문회원 명부(초지초).csv
2018학년도 경인교대 동문회원 명부(팔곡초).csv
2018학년도 경인교대 동문회원 명부(학현초).csv
2018학년도 경인교대 동문회원 명부(호동초).csv
안산지원청_인천교대_2018동문관리자명부(9.1일자).csv
data1_2018-09-21.xlsx
data_2018-09-20.xlsx
data_2018-09-21.xlsx
insa01.xls
insa02.xls
insa03.xls
insa04.xls
openpyXl_insaAntaewoo_180915.py
openpyXl_insaAntaewoo_copyCellAttributeHas_190819.py
openpyXl_insaAntaewoo_excludeHeader_180915.py
openpyXl_insaAntaewoo_makeHeader.py
openpyXl_insaAntaewoo_makeHeader_appendData.py
openpyXl_insaAntaewoo_readXlsCopyWriteXlsx_190820.py
out.xlsx
out_2018-09-20.xlsx
result_insaAntaewoo.xlsx
xlsxwriter

In [135]:
p.findall('/Volumes/SeconBay/Gdrive/★작업중/SW_PyCharm/studyPython from 2018/openpyXl/ineu_csv_181003/./ineu_csv_181003/2018학년도 경인교대 동문회원 명부(경일초).csv')

['경일초']

## 파일 관련 작업하기 golb

In [60]:
import glob

In [63]:
# 현재 디렉토리 내에 csv파일명 출력하기
for filename in glob.glob('*.csv'):
    print(filename)

1.csv
2018학년도 경인교대 동문회원 명부(경일초).csv
lawFather.csv
lawFatherSeokSms.csv
pandas_contacts.csv
pandas_googleAddress.csv
pandas_googleAddress_181012.csv
pandas_lawFather_seokAll.csv
pandas_lawFile_181008.csv
pandas_matchSms.csv
pandas_resultSmsMatch.csv

In [67]:
#하위 폴더 내의 csv파일 출력하기
for filename in glob.iglob('ineu_csv_181003/2018*.csv', recursive=True):
    print(filename)

ineu_csv_181003/2018학년도 경인교대 동문회원 명부(경일초).csv
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(고잔초).csv
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(능길초).csv
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(대동초).csv
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(대부초).csv
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(덕인초).csv
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(반월초).csv
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(별망초).csv
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(본오초).csv
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(상록초).csv
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(석호초).csv
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(선부초).csv
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(선일초).csv
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(성안초).csv
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(성포초).csv
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(송호초).csv
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(시랑초).csv
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(신길초).csv
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(안산교육지원청).csv
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(안산부곡초).csv
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(안산서초).csv
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(안산석수초).csv
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(안산양지초).csv
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(안산원곡초).csv
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(안산중앙초).csv
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(안산진흥초).csv
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(안산창촌초).csv
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(안산청석초).csv
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(안산초).csv
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(안산해양초).csv
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(안산호원초).csv
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(원일초).csv
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(정재초).csv
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(초당초).csv
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(초지초).csv
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(팔곡초).csv
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(학현초).csv
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(호동초).csv

In [68]:
#현재디렉토리와 하위 폴더의 csv파일 출력하기
for filename in glob.iglob('**/2018*.csv', recursive=True):
    print(filename)

2018학년도 경인교대 동문회원 명부(경일초).csv
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(경일초).csv
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(고잔초).csv
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(능길초).csv
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(대동초).csv
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(대부초).csv
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(덕인초).csv
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(반월초).csv
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(별망초).csv
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(본오초).csv
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(상록초).csv
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(석호초).csv
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(선부초).csv
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(선일초).csv
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(성안초).csv
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(성포초).csv
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(송호초).csv
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(시랑초).csv
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(신길초).csv
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(안산교육지원청).csv
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(안산부곡초).csv
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(안산서초).csv
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(안산석수초).csv
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(안산양지초).csv
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(안산원곡초).csv
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(안산중앙초).csv
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(안산진흥초).csv
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(안산창촌초).csv
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(안산청석초).csv
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(안산초).csv
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(안산해양초).csv
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(안산호원초).csv
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(원일초).csv
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(정재초).csv
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(초당초).csv
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(초지초).csv
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(팔곡초).csv
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(학현초).csv
ineu_csv_181003/2018학년도 경인교대 동문회원 명부(호동초).csv

## 해결과제
- csv파일 윈도우에서 읽혀지는지 테스트(데이터 프레임 만들기)
- 읽어지는 경우 데이터 프레임으로 정리후 리스트로 만들기
- 리스트 append하기
- 최종 데이터 프레임 만들기